body {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: url('images/cah.jpg');
    background-size: cover;
    color: white;
    font-family: "Roboto", sans-serif;
    box-shadow: inset 700px 0 406px 0px rgb(0 0 0 / 78%);
}

.top-container {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 11px 30px;
    align-items: center;
}

.top-container .logo {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.top-container nav a {
    text-decoration: none;
    padding: 13px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

header .text-container {
    margin-left: 180px;
    margin-top: 30px;
}

header .text-container .text .big-text {
    color: #FFFFFF;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
    line-height: 1.1em;
}

header .text-container .text .small-text {
    margin-top: 15px;
    font-size: 24px;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 40px;
}

header .separator {
    border: 1px solid #FFFFFF30;
    max-width: 30%;
    margin-top: 50px;
    
}

header .social {
    display: flex;
    gap: 20px;
    z-index: inherit;
    margin-top: 25px;
    padding-bottom: 90px;
}

header .social img {
    width: 50px;
    height: 50px;
}


.portfolio-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 37vh;
    justify-items: center;
    text-align: center;
    margin-top: 160px;
    margin-bottom: 160px;
    padding: 0 235px;
}

.portfolio-section .card {
    width: 290px;
    padding: 30px;
}

.portfolio-section .card:nth-child(2) {
    border-left: 1px solid #00000036;
    border-right: 1px solid #00000036;

}

.portfolio-section .card .logo img {
    width: 80px;
}

.text h3 {
    font-family: "Bebas Neue", Sans-serif;
    font-weight: 400;
    letter-spacing: 0.2ch;
    color: #140748;
    font-size: 22px;
    line-height: 1.6rem;
}

.text p {
    font-family: "Roboto", Sans-serif;
    color: #666666;
    font-size: 16px;
    font-weight: 400;
}



.blue-section-container .swipe-images {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
    padding: 0 124px;
}

.blue-section-container .swipe-images img {
    width: 290px;
}

.blue-section-container .blue-section {
    height: 70vh;
    background-color: rgb(12 12 75);
    margin-top: -100px;
}

.center-bluetext {
    display: flex;
    justify-content: space-evenly;
    padding: 0 50px;
    padding-top: 192px;
    align-items: center;
}

.center-bluetext .text {
    width: 843px;
}

.center-bluetext .text h3 {
    color: white;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 20px;
    letter-spacing: 0ch;
}

.center-bluetext .text p {
    color: white;
    font-size: 22px;
    font-weight: 300;
    line-height: 2.2rem;
    margin-top: -40px;
}

.blue-image img {
    width: 115px;
}

/* 
.details {
    display: flex;
    height: 100%;
}
.details .left-content{
    background-color: white;
    height: inherit;
    width: 50%;

} */
.details {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.details:nth-child(2) {
    margin: 100px 0px;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 80px;
}

.details img {
    height: 50%;
    width: 50%;
}

.right h3 {
    text-transform: uppercase;
    font-size: 34px;
    color: #140748;
    font-family: "Bebas Neue", Sans-serif;
    font-weight: 400;
}

.right p {
    font-family: "Roboto", Sans-serif;
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6rem;
}

.right .list-items ul {
    padding-left: 0px;
}

.right .list-items ul li {
    padding-bottom: 29px;
    list-style: none;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 22px;
    color: #140748;
}

.right .list-items ul li i {
    margin-right: 10px;
    font-size: 18px;
}

.right #btn {
    font-family: "Roboto", Sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    background-color: #140748;
    border-radius: 0px 0px 0px 0px;
    padding: 12px 20px 12px 20px;
    transition: background-color 0.2s ease-in-out;
    border: none;
}

.right #btn:hover {
    background-color: rgb(150, 30, 236);
}


/*Original  */
.scnd-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 136px;
}

.vr-line {
    border-left: 2px dotted #ccc;
    display: grid;
    grid-template-columns: auto auto;
}

.b-helper {
    width: 32px;
    border-top: dotted;
    border-width: 1px;
    margin-top: 42px;
    margin-right: 10px;
}

.dot {
    width: 6px;
    height: 6px;
    background-color: #5bc0eb;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #5bc0eb;
    margin: -3px;
}

.scnd-left .more-right {
    padding-bottom: 6px;
}

.scnd-left h3,
h4 {
    text-transform: uppercase;
    font-size: 34px;
    color: #140748;
    font-family: "Bebas Neue", Sans-serif;
    font-weight: 400;
    margin-bottom: 16px;
}

.scnd-left h4 {
    font-size: 22px;
}

.more-right .date {
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.more-right h4,
.date {
    margin-bottom: -4px;
}

.more-right .content {
    color: #666666;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6rem;
}


/* third right section of details copied from scnd left details */
.mdd h4 span {
    text-transform: uppercase;
    font-size: 16px;
    color: red;
    padding-left: 20px;
    letter-spacing: 2px;
}

.margin-padding {
    margin-left: -131px;
    padding: 0px 208px;
    margin-top: 120px;
}

.third-details-mb {
    margin-bottom: 140px;
}



/* #features {
    background-color: #FAFBFD;
}

.f-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.f-container .para {
    font-size: 22px;
    margin: 0px 316px;
    text-align: center;
    font-family: "Open Sans", Sans-serif;
    font-weight: 300;
    color: #282E37;
    line-height: 1.5em;
}

.courses {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    margin-top: 25px;
}

.course {
    padding: 0px 10px;
    margin-bottom: 50px;
}

.course h3 {
    margin-bottom: 0px;
    color: #140748;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.other-courses {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px 30px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto 60px auto;
}

.oc-name {
    background-color: white;
    padding: 30px 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.oc-name:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.oc-name h4 {
    margin: 0;
    font-size: 20px;
    color: #140748;
    font-family: "Bebas Neue", Sans-serif;
    font-weight: 400;
} */

#features {
    background-color: #FAFBFD;
    padding: 60px 0px;
}

.f-container {
    max-width: 1300px;
    margin: auto;
    text-align: center;
}

.heading {
    font-size: 32px;
    font-family: "Bebas Neue", sans-serif;
    color: #140748;
    margin-bottom: 10px;
}

.para {
    font-size: 20px;
    font-family: "Open Sans", Sans-serif;
    color: #282E37;
    font-weight: 300;
    margin-bottom: 40px;
    line-height: 1.5;
    max-width: 668px;
    margin-inline: auto;
    line-height: 1.5em;
}

.feature-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 19px;
    justify-content: center;
    margin-bottom: 150px;
}

.feature-block {
    margin-bottom: 15px;
}

/* Top image blocks */
.feature-block img {
    width: 100%;
}

.feature-block h3 {
    margin-top: 10px;
    font-size: 22px;
    font-weight: 400;
    color: #140748;
    font-family: "Bebas Neue", sans-serif;
}

/* Bottom text-only cards */
.oc-card {
    background-color: #fff;
    padding: 19px 15px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.oc-card:hover {
    transform: translateY(-5px);
}

.oc-card h4 {
    margin: 0;
    font-size: 20px;
    line-height: 1.2em;
    font-weight: 400;
    font-family: "Bebas Neue", sans-serif;
    color: #140748;
}




.developer-section {
    background-color: #282E37;
    background-image: url('images/developersBG.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.developers-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-top: -130px;
}

.developers-container .developer {
    padding: 30px 41px;
}

.developers-container .designer-card {
    width: 24.333%;
    height: 264px;
    background-color: white;
    color: black;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
}

.developers-container .designer-card .developer p {
    color: #666666;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
}

.designer-card .profile {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    line-height: 1;
    margin-top: 27px;
}

.profile .image img {
    width: 60px;
    border-radius: 50%;
}

.profile .name {
    align-self: center;
    padding-left: 15px;
    line-height: 1.6em;
}

.profile .name .dev-job {
    color: #1E1E1E;
    font-family: "Roboto", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.6em;
}

.profile .name .dev-name {
    color: #323335;
    font-weight: 600;
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
}


.logo-images {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    margin-top: 70px;
    column-gap: 68px;
}

.logo-images .logo-img img {
    width: 220px;
}




#contact-section {
    background: linear-gradient(to right, #fff 50%, #7b5dfb 50%);
    padding: 100px 0;
    font-family: 'Segoe UI', sans-serif;
}

/* Container */
.contact-container {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Left Side */
.query {
    flex: 1;
    max-width: 32%;
    padding-right: 100px;
}

.query .anyquery p {
    color: #140748;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 40px;
}

.query h3 {
    color: #140748;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.query p {
    font-size: 18px;
    color: #888;
    margin: 0 0 20px;
    line-height: 1.7;
}

.query .location p,
.query .call p {
    color: #666666;
    font-family: "Roboto", Sans-serif;
    font-size: 22px;
    font-weight: 300;
}

.separator {
    height: 1px;
    background-color: #ddd;
    margin: 40px 0;
    width: 100%;
}

/* Right Side Form */
.form-wrapper {
    flex: 1;
    max-width: 50%;
    background-color: #fff;
    padding: 50px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
}

.contact-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 34px;
}

.contact-form input,
.contact-form textarea {
    width: 95%;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    transition: 0.3s border-color ease;
}

.contact-form textarea {
    height: 160px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
}

.contact-form button {
    width: 180px;
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
    padding: 14px;
    background-color: #2f2f2f;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: rgb(70, 92, 277);
}




#footer {
    background-color: #140748;
    color: white;
    height: 500px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    margin: auto;
    padding: 42px 0px;
}

.footer-content .grami {
    margin-bottom: -26px;
}

.footer-content .grami h2 {
    color: #FFFFFF;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 1.6em;
}

.footer-content .social-media i {
    width: 1.3em;
    font-size: 53px;
}
.footer-content .separator{
        background-color: #dddddd3d;
}
.footer-content .copyright{
        text-align: center;
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
}